DATABASE_URL="postgresql://postgres:postgres@localhost:5432/notes?schema=public"

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT="mailto:admin@example.com"

# REDIS_URL="redis://localhost:6379"
# SMTP_HOST="smtp.example.com"
# SMTP_PORT="587"
# SMTP_USER="user"
# SMTP_PASSWORD="password"
# SMTP_FROM="no-reply@example.com"
